.hidden {
    display: none;
}

* {
    color: white;
}

body {
    background-image: url("robert-mclay-tZWAe7OSwrk-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    /* background-image: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.top-row {
    /*
    background-color: aqua;
    opacity: 20%;
    */
    width: 100%;
    height: 10%;
}

#weather {
    font-size: larger;
}

.center-above {
    /*
    background-color: brown;
    opacity: 20%;
    */
    width: 100%;
    height: 15%;
}

.center {
    /*
    background-color: blue;
    opacity: 20%;
    */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.center-below {
    /*
    background-color: coral;
    opacity: 20%;
    */
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bottom-row {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.clockSection {
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.greetingSection {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-block-end: 0px;
}

#clock {
    font-size: 1050%;
    font-weight: 500;
    letter-spacing: -5px;
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::placeholder {
    font-style: italic;
    font-size: 1.5em;
    color: mintcream;
    /*padding: 5px; */
}

input {
    background: transparent;
    border-style: hidden hidden ridge;
    width: 200px;
    height: 50px;
    text-align: center;
}
#submit_btn {
    border-radius: 5px;
    border-style: solid;
    background-color: gray;
    width: 100px;
}

#greeting {
    font-size: 300%;
    font-weight: 500;
}

#quote {
    font-style: italic;
    font-size: 1.125rem;
}

#todo-input {
    background: transparent;
    border-style: hidden hidden ridge;
    width: 240px;
}


.three-column-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/*
.test-grid1 {
    background-color: yellowgreen;
}

.test-grid2 {
    background-color: burlywood;
}

.test-grid3 {
    background-color: gray;
}
*/